<link rel="stylesheet" href="/css/alert.css">
{{#if error}}
<div class="alert alert-error">{{error}}</div>
{{/if}}

{{#if success}}
<div class="alert alert-success">{{success}}</div>
{{/if}}
<script type="module" src="/js/login.js"></script>